.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(54, 2, 73, 0.103);  
}

.modal-content{
  background-color: #e9d9f0fd;
  margin:10% auto ;
  padding: 28px;
  border: 1px solid #b08080;
  width: 80%;

}

.close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

}


